$translucent-peach: rgba(255, 178, 0, 0.7);
$translucent-tan: rgba(255, 185, 0, 0.3);
$container-shadow: rgba(149, 157, 165, 0.2);

$neon-peach: #FFB200;
$neon-pink: #E1306C;
$cerulean: #3374FF;
$midnight-navy: #26384E;
$twitter-blue: #46C1F6;
$linkedin-blue: #3B5999;
$neutral-gray: #333333;
