<div class="main about">
  <div class="container">
    <div class="row">
        
      <div class="thumbnail">
        <%= image_tag "me.jpg" %>
      </div>
      <div class="me">
        <h2>
          "Hello. My name is "
          <span class="highlight">Brian Tacderan</span>
        </h2>
        <p>"Bio line 1"</p>
        <p>"Bio line 2"</p>
      </div>
        
    </div>
  </div>
</div>
