<div class="main home">

  <!-- introduction -->
  <div class="s s1 active introduction">
    <div class="container section-wrapper">
      <div class="row">
        <br><br><h1 class="hello title-header wow fadeInLeft">
          Hello.
        </h1><br>

        <h1 class="about wow fadeInLeft" data-wow-delay="1.8s">
          My name is <strong>Brian Tacderan</strong>.
        </h1>
        <h1 class="about wow fadeInLeft" data-wow-delay="2s">
          I am an aspiring full-stack engineer.
        </h1>

      </div>
    </div>
  </div>

  <!-- slide swiper -->
  <div class="s s2 forward slide-swiper">

    <h1 class="row title-header wow fadeInDown" data-wow-delay="0.25s">
      <strong>> projects</strong>
    </h1><br>

    <div class="container section-wrapper">
      <div class="row swiper-container wow fadeInUp" data-wow-delay="0.45s">
        <div id="slide-box" class="swiper-wrapper">

          <div class="slider-item swiper-slide">
            <div class="slider-image-wrapper">
              <img class="slider-image" 
                   alt="SliderImg" 
                   src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80" />
              </div>
            <div class="slider-item-content">
              <h1>Postcards From Italy</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            </div>
          </div>

          <div class="slider-item swiper-slide">
            <div class="slider-image-wrapper">
              <img class="slider-image" 
                   alt="SliderImg" 
                   src="https://images.unsplash.com/photo-1491900177661-4e1cd2d7cce2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" />
              </div>
            <div class="slider-item-content">
              <h1>Bunker</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            </div>
          </div>

          <div class="slider-item swiper-slide">
            <div class="slider-image-wrapper">
              <img class="slider-image" 
                   alt="SliderImg" 
                   src="https://images.unsplash.com/photo-1482192505345-5655af888cc4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2600&q=80" />
              </div>
            <div class="slider-item-content">
              <h1>Small Mountain</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            </div>
          </div>

          <div class="slider-item swiper-slide">
            <div class="slider-image-wrapper">
              <img class="slider-image" 
                   alt="SliderImg"
                   src="https://images.unsplash.com/photo-1564604761388-83eafc96f668?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=801.2.1&auto=format&fit=crop&w=2167&q=80"  />
              </div>
            <div class="slider-item-content">
              <h1>Walking On a Dream</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            </div>
          </div>

        </div>

        <div class="slider-buttons">
            <button class="swiper-button-prev">Prev</button>
            <button class="swiper-button-next">Next</button>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <!-- neomorphism -->
  <div class="s s3 neomorphism">
    <div class="container section-wrapper box"></div>
  </div>

</div>

  <section class='demo-text'>
    <div class='wrapper text'>
      ABCDEFGHIJKLMNOPQRSTUVWXYZ
    </div>
  </section>
  <section class='demo-gallery'>
    <ul class='wrapper'>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=71' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=64' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=29' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=4' width='1240'>
      </li>
    </ul>
  </section>
  <section class='demo-gallery'>
    <ul class='wrapper'>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=94' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=66' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=74' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=62' width='1240'>
      </li>
    </ul>
  </section>
  <section class='demo-gallery'>
    <ul class='wrapper'>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=50' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=9' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=31' width='1240'>
      </li>
    </ul>
  </section>
  <section class='demo-gallery'>
    <ul class='wrapper'>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=23' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=198' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=73' width='1240'>
      </li>
      <li>
        <img height='874' src='https://source.unsplash.com/random/1240x874?sig=205' width='1240'>
      </li>
    </ul>
  </section>
  <section class='demo-text'>
    <div class='wrapper text'>
      ABCDEFGHIJKLMNOPQRSTUVWXYZ
    </div>
  </section>