* {
  box-sizing: border-box;
  /*
  To reveal containers:
  border: solid 1px red !important;
  */
}

html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-image: linear-gradient(180deg, #d7e1ec 14.7%, #f0f0f0 73%);
  background-size: 200% 1000%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  /*
  background-image: linear-gradient(45deg, #ffa600 14.7%, #ff6361 73%);
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
  */
}

html body {
  opacity: 0.99;
  /* override semantic-ui background for body */
  background: rgba(149, 157, 165, 0);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




/* header (hidden) */
header {
  position: fixed;
  width: 100%;
  height: 0;
}

/* sidebar */
header .container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}




/* main content */
.main .introduction {
  height: 100vh;
  width: 100%;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 5rem; /* To offset for fixed header */
  padding-left: 2.5rem;
  right: 10rem;
  z-index: -1;
}

.main .introduction h1.hello {
  font-size: 5rem;
}

.main .introduction h1.about {
  width: 130%;
}

strong {
  background-color: rgba(255, 178, 0, 0.7);
  opacity: 0.8;
  padding: 2px 8px;
}

.main .slide-swiper,
.main .neomorphism {
  height: 100vh;
  width: 100%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main .neomorphism {
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .main .introduction {
    padding-right: 36%;
    right: 1rem;
  }

  .main .introduction h1.about {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .main .introduction {
    height: 650px;
    right: 0;
    bottom: 3rem;
  }
    
  .main .introduction h1.about {
    font-size: 1.1rem;
  }
    
  .main .slide-swiper {
    height: 650px;
  }

  .main .neomorphism {
    height: 650px;
  }
}

@media only screen and (max-height: 600px) {
  .main .introduction {
    height: 300px;
    right: 2rem;
    bottom: 4rem;
    align-items: center;
    justify-content: flex-start;
  }
    
  .main .introduction h1.about {
    font-size: 1.1rem;
  }
    
  .main .slide-swiper {
    height: 400px;
  }
    
  .main .slide-swiper {
    height: 400px;
  }

  .main .neomorphism {
    height: 400px;
  }
}




/* WOWjs */
.wow {
  visibility: hidden;
}
