header h1 {
  color: black;
}

div#rc-project-view {
  position: absolute;
  background-color: darkslategray;
  color: #B53651;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;

  #project-header {
    height: 650px;
    width: 100vw;

    .header-content  {
      padding-top: 10vh;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-flow: row;

      .text-container {
        //width: 20vw;
        padding-right: 10vw;
        padding-top: 13rem;
        z-index: 1;
        flex-grow: 1;

        h1 {
          font-family: 'Alfa Slab One', sans-serif;
          font-size: 6rem;
          color: #B53651;
          text-align: left;
          text-shadow: -1px 1px 1px rgba(0,0,0,0.81),
                       -2px 2px 2px rgba(0,0,0,0.81),
                       -4px 4px 4px rgba(0,0,0,0.81);
        }
      }

      .img-container  {
        width: 60%;
        height: 0;
        padding-top: calc(100vh * (100 / 200));
        overflow-x: hidden;
        flex-grow: 4;

        img {
          position: absolute;
          top: 10%;
          right: -20%;
          width: 70%;
          height: 45%;
          opacity: 0.5;
          object-fit: cover;
        }
      }
    }
  }






  #project-desc {
    font-family: 'Castoro', sans-serif;
    height: 400px;
    padding-top: 150px;

    .desc-container {
      display: flex;
      width: 700px;
      max-width: 800px;
      margin: 0 auto;

      .main-points {
        width: 350px;

        h2 {
          font-family: 'Major Mono Display', sans-serif;
          font-size: 0.9rem;
          color: black;
        }

        li {
          line-height: 1.75rem;
          color: white;
        }

        span {
          top: 3rem;
          color: #B53651;
          padding-left: 1rem;
          font-family: 'Alfa Slab One', sans-serif;
          text-shadow: -1px 1px 1px rgba(0,0,0,0.81),
                       -2px 2px 2px rgba(0,0,0,0.81),
                       -4px 4px 4px rgba(0,0,0,0.81);
        }

        span:hover {
          color: #F6CCC9;
        }
      }

      .description {
        margin-left: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;

        p {
          color: #F6CCC9;
          margin-top: 1.5rem;
          width: 450px;
        }
      }
    }
  }





  #project-main {
    .main-container {
      width: 100vw;

      img {
        width: 100%;
      }

      img#widget {
        padding: 5vw 20vw;
      }
    }

    .extra-content {
      background-color: white;
      width: 100vw;

      .extra-container {
        display: flex;
        flex-direction: column;
        padding-top: 100px;

        img {
          background-color: #ccc;
          width: 90vw;
          min-width: 100px;
          padding: 100px 30px 30px 30px;
          margin: 60px auto;
        }

        img:nth-child(even) {
          margin-right: 0;
          max-width: 800px;
        }

        img:nth-child(odd) {
          margin-left: 0;
          padding-right: 30px;
          max-width: 800px;
        }

        img:last-child {
          margin-left: 0;
          margin-right: 0;
          width: 100vw;
          padding: 150px 30px 30px 30px;
          max-width: none;
        }
      }
    }
  }
}








@media only screen and (max-width: 800px) {
  div#rc-project-view {
    #project-header {
      height: 500px;

      .header-content {
        .text-container {
          width: 500px;
          margin-top: -9rem;

          h1 {
            font-size: 3.5rem;
          }
        }

        .img-container img {
          height: 30%;
        }
      }
    }

    #project-desc {
      height: 320px;

      .desc-container {
        margin-left: 25vw;

        .main-points {
          width: 350px;

          h2 {
            font-size: 0.75rem;
          }
        }

        .description {
          display: none;
        }
      }
    }

    #project-main {
      .main-container {
        img#widget {
          padding: 5vw;
        }
      }

      .extra-content {
        background-color: white;
        width: 100vw;

        .extra-container {
          display: flex;
          flex-direction: column;
          padding-top: 100px;

          img {
            background-color: #ccc;
            width: 90vw;
            min-width: 100px;
            padding: 75 30px 30px 30px;
            margin: 40px auto;
          }

          img:nth-child(even) {
            margin-right: 0;
          }

          img:nth-child(odd) {
            margin-left: 0;
          }

          img:last-child {
            padding: 75px 30px 30px 30px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
