// Header

@media only screen and (max-width: 730px) {
  header {
    height: 5rem;
    background-image: none;
    background-color: gray;
    border-bottom: solid 2px black;
  }
}

@media only screen and (min-width: 1001px) {
  header {
    left: 50%;
    width: 1000px;
    margin-left: -500px;
  }

  header .content {
    flex-flow: row-reverse;
    background-color: gray;
  }

  header.opaque:after {
    width: 900px;
  }

  header .icon {
    height: 2.6rem;
    margin: 0 2.1rem;
  }
}

header h1 {
  color: #D1EB1D;
}



i.fas.fa-arrow-left {
  padding-left: 2rem;
}

i.fas.fa-arrow-left:hover {
  color: black;
}

.icon.designs .tooltip {
  transform: translate(-45px, -15px);
}

.icon.designs .tooltip::before {
  background-color: none;
}

.icon.designs:hover .tooltip {
  color: black;
}






// Main

div#fm-project-view {
  position: absolute;
  background-color: gainsboro;
  color: oldlace;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  div#project-header:before,
  div#project-header:after {
    display: table;
    content: '';
  }

  div#project-header:after {
    clear: both;
  }

  div#project-header {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    background-color: dimgray;

    .header-content  {
      padding-top: 14vh;
      display: flex;

      .text-container {
        width: 20vw;
        padding-left: 10vw;
        padding-top: 10rem;
        z-index: 1;

        h1 {
          font-family: 'Alfa Slab One', sans-serif;
          font-size: 6rem;
          letter-spacing: 0.5rem;
          text-align: right;
          color: #ccc;
          text-shadow: -1px 1px 1px rgba(0,0,0,0.81),
                       -2px 2px 2px rgba(0,0,0,0.81),
                       -4px 4px 4px rgba(0,0,0,0.81);
        }
      }

      .img-container  {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(100vh * (100 / 300));
        overflow-x: hidden;

        img {
          position: absolute;
          top: 0;
          width: 100%;
          height: 125%;
          left: 20%;
          object-fit: cover;
        }
      }
    }
  }





  #project-desc {
    font-family: 'Castoro', sans-serif;
    height: 400px;
    background-color: dimgray;
    margin: 0 auto;
    max-width: 1000px;

    .desc-container {
      display: flex;
      max-width: 800px;
      margin: 0 auto;

      .main-points {
        width: 350px;

        h2 {
          font-family: 'Major Mono Display', sans-serif;
          font-size: 1rem;
        }

        li {
          font-family: 'Poppins';
          color: black;
          letter-spacing: 0.1rem;
          width: 300px;
          line-height: 2rem;
          text-align: justify;
        }

        span {
          font-family: 'Alfa Slab One', sans-serif;
          top: 3rem;
          color: #D1EB1D;
          padding-left: 1rem;
        }

        span:hover {
          color: #ccc;
        }
      }
    }

    .description {
      margin-left: 2rem;
      font-size: 1.25rem;
      line-height: 2rem;

      p {
        font-family: 'Poppins';
        color: black;
        letter-spacing: 0.02rem;
        margin-top: 2rem;
        width: 500px;
        font-weight: 200;
        font-size: 1.1rem;
        line-height: 2.5rem;
        text-align: justify;
      }
    }
  }

  #project-main {
    .main-container {
      max-width: 1000px;
      min-height: 1000px;
      margin: 0 auto;
      background-color: #3F4800;

      img#gif {
        position: absolute;
        height: 730px;
        margin-top: 120px;
      }

      img#frame {
        position: relative;
        height: 800px;
        margin-top: 100px;
        right: 5.5rem;
      }
    }

    .extra-content {
      background-color: white;
      max-width: 1000px;
      margin: 0 auto;

      .extra-container {
        display: flex;
        flex-direction: column;
        padding-top: 100px;

        img {
          background-color: gainsboro;
          width: 80%;
          max-width: 1000px;
          padding: 60px;
          margin: 5rem auto;
        }

        img:nth-child(even) {
          margin-right: 50vw;
          border-left: solid 3px white;
        }

        img:nth-child(odd) {
          margin-right: 0;
          border-right: solid 3px white;
        }
      }
    }
  }
}



@media only screen and (max-width: 1000px) {
  div#fm-project-view #project-main .extra-content .extra-container img:nth-child(odd) {
    margin-left: 30vw;
  }
}


@media only screen and (max-width: 730px) {
  div#fm-project-view {
    background-color: white;

    div#project-header {
      height: 500px;

      .header-content {
        .text-container h1 {
          font-size: 4.5rem;
        }
      }
    }

    #project-desc {
      height: 700px;

      .desc-container {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .main-points {
          width: 350px;

          h2 {
            font-size: 0.75rem;
          }
        }

        .description {
          margin-left: 0;

          p {
            width: 100%;
            line-height: 1.5rem;
            font-size: 1rem;
            margin: 4rem auto;
          }
        }
      }
    }

    #project-main {
      .main-container {
        height: 800px;
        min-height: 0;

        img#gif {
          left: 80px;
          height: 600px;
        }

        img#frame {
          left: 10px;
          height: 660px;
        }
      }

      .extra-content {
        background-color: white;
        width: 100vw;

        .extra-container {
          display: flex;
          flex-direction: column;
          padding-top: 50px;
          background-color: #ccc;

          img {
            background-color: #ccc;
            width: 100vw;
            min-width: 100px;
            padding: 30px;
            margin: 0 auto;
          }

          img:nth-child(even) {
            margin-right: 0;
            padding-left: 0;
          }

          img:nth-child(odd) {
            margin-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
