// Header

header.opaque {
  height: 20rem;
  border-bottom: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

@media only screen and (max-width: 1500px) {
  header {
    left: 0;
    width: 100vw;
    margin-left: -0;
  }
}


@media only screen and (min-width: 1001px) {
  header {
    left: 50%;
    width: 1000px;
    margin-left: -500px;
  }

  header.opaque:after {
    width: 900px;
  }
}

image.arrow {
  animation: bounce 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
   40% { transform: translateY(-30px); }
   60% { transform: translateY(-15px); }
}






@media only screen and (max-width: 730px) {
  header {
    border-bottom: none;
  }

  header.opaque {
    height: 5rem;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 2px black;
  }

  .desktop-view {
    visibility: hidden;
    display: none;
  }

  body, html {
    overflow-y: scroll;
    background-color: #BDBDBD;
  }

  div#about-view.mobile-view {
    background-color: #BDBDBD;
  }

  header {
    height: 5rem;
    width: 100vw;

    .icon {
      margin-top: 1.25rem;
      margin-left: 1rem;
      padding: 0;
      width: 3.8rem;
      height: 3.5rem;
    }
  }

  section#me-contact {
    margin: 0 auto;

    .icon-popups {
      display: flex;
      visibility: visible;
    }
  }

  h2 {
    padding-top: 4rem;
  }

  h3 {
    color: gainsboro;
    font-size: 1.5rem;
    text-shadow: -1px 1px 1px #383838,
                 -2px 2px 2px #383838,
                 -4px 4px 4px #383838;
    -webkit-text-stroke: 2px #383838;
  }

  h2, h3, span {
    font-family: 'Alfa Slab One', sans-serif;
  }

  h1#me-intro {
    font-family: 'Major Mono Display', sans-serif;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.2;
    width: 90%;
    margin: 0 auto 10rem;
    padding: 10rem 1rem 2rem;

    span {
      font-family: 'Alfa Slab One', sans-serif;
      color: #F03743; //rgba(78, 152, 21, 0.8);
      letter-spacing: 0.5rem;
      opacity: 0.8;
      text-align: right;
      float: right;
      padding-bottom: 1rem;
    }
  }

  section.pSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  p.skill {
    font-family: 'Alfa Slab One', sans-serif;
    color: #F03743;
    font-size: 1.2rem;

    span {
      font-family: 'Poppins', sans-serif;
      color: gray;
      font-size: 1rem;
    }
  }

  .projects-container {
    .pj {
      margin: 4rem auto;
    }

    p {
      text-shadow: -1px 1px 1px #383838,
                   -2px 2px 2px #383838,
                   -4px 4px 4px #383838;
      -webkit-text-stroke: 2px #383838;

      span {
        text-shadow: none;
        -webkit-text-stroke: none;
        font-weight: 200;
      }
    }

    #project-one p {
      color: #9EC131;
    }

    #project-three p {
      color: #46C1F6;
    }

    #project-four p {
      color: #F8F12E;
    }

    img {
      width: 80vw;
      border: 5px black solid;
      border-radius: 10px;
    }
  }

  .me-mission p {
    margin: 0 auto 6rem;
    padding: 2rem;
    line-height: 1.2rem;
  }
}

@media only screen and (min-width: 731px) {
  .mobile-view {
    visibility: hidden;
    display: none;
  }
}

div#about-view {
  background-color: #fff;
  width: 100%;
}

div.scrollDist {
  background-color: #fff;
}

// PARALLAX INTRO SECTION

div#parallax-intro {
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

div#parallax-intro:before,
div#parallax-intro:after {
  display: table;
  content: "";
}

div#parallax-intro:after {
  clear: both;
}

div#parallax-intro div.main {
  max-width: 1000px;
  background-color: #fff;
}

div#parallax-intro text {
  font-family: 'Fugaz One', sans-serif;
  font-size: 90px;
  text-align: center;
}

div#parallax-intro div.intro {
  position: absolute;
  background-color: #fff;
}



// PARALLAX text & images

div#parallax-intro div.about {
  position: absolute;
  // top: 400vh;
  background-color: #fff;
}

div#parallax-intro div.about h1 {
  font-family: 'Major Mono Display', sans-serif;
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2;
  width: 90%;
  margin: 0 auto 10rem;
}

div#parallax-intro div.projects h1 {
  font-family: 'Major Mono Display', sans-serif;
  text-align: center;
  margin: 0 auto;
  z-index: 100;
  margin-bottom: 60rem;
}

div#parallax-intro div.about h2 {
  font-family: 'Major Mono Display', sans-serif;
  font-size: 0.75rem;
  padding-bottom: 2rem;
}

div#parallax-intro div.about span {
  font-family: 'Alfa Slab One', sans-serif;
  color: #F03743; //rgba(78, 152, 21, 0.8);
  letter-spacing: 0.5rem;
  opacity: 0.8;
}

div#parallax-intro div.about p {
  font-family: 'Major Mono Display', sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgba(78, 152, 21, 1);
}

div#parallax-intro div.projects p {
  font-family: 'Alfa Slab One', sans-serif;
  color: #424242;
	position: relative;
	display: block;
	background: #fff;
	z-index: 999;
	clear: both;
	margin: 4rem auto;
	padding: 50px 0;
}

div#parallax-intro div.projects p.skill:nth-child(odd) {
  width: 20%;
  text-align: right;
}

div#parallax-intro div.projects p.skill:nth-child(even) {
  width: 20%;
  text-align: left;
}

div#parallax-intro div.projects p.skill span {
  font-family: 'Major Mono Display', sans-serif;

}

.pSection {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

div.projects .pSection {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

.container {
  width: 50%;
  max-width: 500px;
  position: absolute;
  z-index: 1;
}

div.about .container {
  margin: 10rem;
}

div.projects .container {
  padding: 0;
  position: relative;
}

.pContent {
  top: 20%;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 40px 60px;
}

div.projects .pContent {
  background-color: rgba(78,152,21,0);
  position: relative;
	margin: 0 auto;
	overflow: hidden;
  // top: 15rem;
}

div.projects .pContent::after {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #ccc; // rgba(240, 55, 67, 0.7);
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.pBorder {
  position: absolute;
  top: -800px;
  right: 0;
  max-height: 900px;
}

div.projects .pContent span {
  color: #F03743;
  font-size: 0.8rem;
}

.image-container {
  position: absolute;
  overflow-x: hidden;
  width: 65%;
  height: 150%;
}

div.image-full,
img#me-photo {
  height: 400px;
  float: right;
}

.img-two {
  left: 55%;
  top: 15%;
}

.img-one {
  left: -25%;
  height: 65%;
  top: 10%;
}

.project-img {
  position: absolute;
  overflow-x: hidden;
  height: 60%;
}

.image-container img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170%;
  object-fit: cover;
  object-position: center;
  padding: 0;
  max-height: 900px;
  overflow: hidden;
  filter: grayscale(50%);
}

div.projects .project-img {
  height: 550px;
  width: 550px;
  min-width: 300px;
  min-height: 300px;
  z-index: 1;
}

div.projects .project-img:hover {
  cursor: pointer;
}

div.projects .project-img img {
  filter: grayscale(50) blur(1px) brightness(1.35);
  overflow: hidden;
}

div.projects .project-img img:hover {
  filter: grayscale(0);
  transition-duration: 500ms;
}

div.projects .project-img img {
  height: 100%;
  width: 100%;
  max-height: 550px;
  max-width: 550px;
  overflow-x: hidden;
}

.image-one,
.image-three {
  height: 50vh;
  left: 65%;
}
.image-two,
.image-four {
  width: 45vw;
  height: 60vh;
  right: 65%;
}

div.project-img.image-one {
  bottom: 105%;
}

div.project-img.image-two {
  bottom: 85%;
}

div.project-img.image-three {
  top: 30rem;
}

div.project-img.image-four {
  top: 60rem;
}

img#mission-img {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div.projects {
  background-color: #fff;
}

div#parallax-intro div.projects .pSection {
  padding-bottom: 0;
}

div#parallax-intro div.projects #mission {
  position: relative;
  top: -500px;
}

div#parallax-intro div.projects #mission .container {
  width: 70%;
  margin: 0 auto;
}


div#parallax-intro div.projects #mission h1 {
  margin-bottom: 0;
  text-align: left;
  font-size: 1.5rem;
}

div#parallax-intro div.projects #mission p {
  font-family: 'Castoro', sans-serif;
  font-size: 0.85rem;
  color: #424242;
  margin: 0 auto;
  text-align: left;
  padding-left: 2rem;
  margin: 1rem;
  border-left: 1px solid #F03743;
  line-height: 1.25rem;
}






// page animation

.animate-disappear {
  animation: disappear 0.4s ease;
  animation-fill-mode: forwards;
}

.animate-expand-color {
  animation: expand-color 1s ease;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes expand-color {
  from {
    background-color: #fff;
    transform: scale(1);
  }

  to {
    background-color: black;
    transform: scale(10);
  }
}




@media only screen and (min-width: 550px) {
  div#parallax-intro div.about h1 {
    font-size: 2.75rem;
    letter-spacing: -0.4rem;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 750px) {
  div#parallax-intro div.about {
    h1 {
      font-size: 4rem;
      letter-spacing: -0.5rem;
      line-height: 1.2;
      text-align: left;
    }

    span {
      letter-spacing: 0.8rem;
    }
  }

  div#parallax-intro div.about p {
    font-size: 1.4rem;
    line-height: 2.75rem;
  }

  div#parallax-intro div.projects h1 {
    text-align: center;
  }

  div#parallax-intro div.projects p {
    margin: 20vw auto;
    font-size: 1rem;
  }


  div#parallax-intro div.projects #mission p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
