.box {
  cursor: pointer;
  border-radius: 15px;
  width: 7vw;
  height: 7vw;
  margin: 1.5rem;
  display: block;
  box-shadow: 10px 10px 10px #cccccc,
              10px 10px 10px #ffffff,
              0 0 0 #cccccc inset,
              0 0 0 #ffffff inset;
  transition: all 250ms;
}

.box:hover {
  flex-grow: 1;
}

.box img {
  width: 100%;
  height: 100%;
}

@keyframes anime {
  0% {
    width: 7vw;
    height: 7vw;
    box-shadow: 0 0 0 #cccccc,
                0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 7vw;
    height: 7vw;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  50% {
    width: 7vw;
    height: 28vw;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  100% {
    width: 56vw;
    height: 42vw;
    box-shadow: 40px 40px 40px #cccccc,
                0 0 0 #ffffff,
                0 0 0 #cccccc inset,
                2px 2px 2px #ffffff inset;
  }
}

@keyframes unanime {
  0% {
    margin: 6rem;
    width: 56vw;
    height: 42vw;
    box-shadow: 40px 40px 40px #cccccc,
                0 0 0 #ffffff,
                0 0 0 #cccccc inset,
                2px 2px 2px #ffffff inset;
  }
  1% {
    margin: 1.5rem;
  }
  25% {
    margin: 1.5rem;
    width: 7vw;
    height: 28vw;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  50% {
    margin: 1.5rem;
    width: 7vw;
    height: 7vw;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  99% {
    margin: 1.5rem;
    width: 7vw;
    height: 7vw;
    box-shadow: 0 0 0 #cccccc,
                0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  }
  100% {
    margin: 1.5rem;
    display: none;
  }
}

.box.hide {
  display: none;
}

.box.show {
  display: block;
}

.box-A {
  box-shadow: 10px 10px 10px #cccccc,
              10px 10px 10px #ffffff,
              0 0 0 #cccccc inset,
              0 0 0 #ffffff inset;
}

.box-B {
  display: none;
  box-shadow: 10px 10px 10px #cccccc,
              10px 10px 10px #ffffff,
              0 0 0 #cccccc inset,
              0 0 0 #ffffff inset;
  -webkit-animation: anime 1500ms cubic-bezier(0.16, 1, 0.3, 1);
          animation: anime 1500ms cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

.box-B.animated {
  width: 56vw;
  height: 42vw;
  box-shadow: 40px 40px 40px #cccccc,
              0 0 0 #ffffff,
              0 0 0 #cccccc inset,
              2px 2px 2px #ffffff inset;
}

.box-B.unanimated {
  width: 7vw;
  height: 7vw;
  box-shadow: 10px 10px 10px #cccccc,
              10px 10px 10px #ffffff,
              0 0 0 #cccccc inset,
              0 0 0 #ffffff inset;
  -webkit-animation: unanime 2s cubic-bezier(0.16, 1, 0.3, 1);
          animation: unanime 2s cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.box-B img {
  opacity: 1;
  border-radius: 5px;
}

.box-B img.appear {
  -webkit-animation: appear 1500ms;
          animation: appear 1500ms;
  animation-fill-mode: forwards;
}

.box-B img.disappear {
  opacity: 0;
  -webkit-animation: disappear 2s;
          animation: disappear 2s;
  animation-fill-mode: forwards;
}

@media only screen and (min-width: 1101px) {
  .box {
    height: 80px;
    width: 80px;
  }

  #cert-slide #cert-container {
    overflow-y: hidden;
    position: absolute;
    margin-top: 6rem;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    height: 610px;
    width: 655px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
  }

  #cert-slide #cert-container::-webkit-scrollbar {
    display: none;
  }

  div.box-B.show {
    margin: 4rem 0;
  }

  @keyframes anime {
    0% {
      width: 80px;
      height: 80px;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    85% {
      width: 80px;
      height: 80px;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    95% {
      width: 80px;
      height: 420px;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    100% {
      width: 540px;
      height: 420px;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
  }

  @keyframes unanime {
    0% {
      margin: 5rem;
      width: 540px;
      height: 420px;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
    1% {
      margin: 1.5rem;
    }
    25% {
      margin: 1.5rem;
      width: 80px;
      height: 420px;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    50% {
      margin: 1.5rem;
      width: 80px;
      height: 80px;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    99% {
      margin: 1.5rem;
      width: 80px;
      height: 80px;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    100% {
      margin: 1.5rem;
      display: none;
    }
  }


  .box-B.animated {
    width: 540px;
    height: 420px;
    box-shadow: 40px 40px 40px #cccccc,
                0 0 0 #ffffff,
                0 0 0 #cccccc inset,
                2px 2px 2px #ffffff inset;
  }
}


@media only screen and (max-width: 1100px) {
  .main .neomorphism {
    padding-right: 30%;
  }

  #cert-slide #cert-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .box {
    width: 7vw;
    height: 7vw;
  }
}

@media only screen and (max-width: 600px) {
  .main .neomorphism {
    padding-right: 20%;
    height: 650px;
  }

  #slide-box-two h1 {
    margin-top: 1.5rem;
    float: right;
    font-size: 1.5rem;
  }

  .box {
    width: 12vw;
    height: 12vw;
    margin: 0.5rem;
  }

  .swiper-container.neo {
    width: 100%;
    max-width: 600px;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
}

@media only screen and (max-width: 450px) {
  #slide-box-two h1 {
    font-size: 1rem;
  }

  @keyframes anime {
    0% {
      width: 12vw;
      height: 12vw;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 12vw;
      height: 12vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    50% {
      width: 12vw;
      height: 28vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    100% {
      width: 56vw;
      height: 42vw;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
  }

  @keyframes unanime {
    0% {
      margin: 1.75rem;
      width: 56vw;
      height: 42vw;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
    1% {
      margin: 0.5rem;
    }
    25% {
      margin: 0.5rem;
      width: 12vw;
      height: 28vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    50% {
      margin: 0.5rem;
      width: 12vw;
      height: 12vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    99% {
      margin: 0.5rem;
      width: 12vw;
      height: 12vw;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    100% {
    margin: 0.5rem;
    display: none;
    }
  }

  .box {
    border-radius: 8px;
  }

  .box-B.unanimated {
    margin: 1.5rem;
    width: 12vw;
    height: 12vw;
  }
}

@media only screen and (max-width: 800px) and (max-height: 600px) {
  .box {
    width: 6vw;
    height: 6vw;
    //margin: 0.5rem;
  }

  @keyframes anime {
    0% {
      //margin: 0.5rem;
      width: 6vw;
      height: 6vw;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    85% {
      width: 6vw;
      height: 6vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    95% {
      width: 6vw;
      height: 32vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    100% {
      margin: 1.5rem;
      width: 40vw;
      height: 32vw;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
  }

  @keyframes unanime {
    0% {
      margin: 1.5rem;
      width: 40vw;
      height: 32vw;
      box-shadow: 40px 40px 40px #cccccc,
                  0 0 0 #ffffff,
                  0 0 0 #cccccc inset,
                  2px 2px 2px #ffffff inset;
    }
    1% {
      margin: 0.5rem;
    }
    25% {
      width: 6vw;
      height: 32vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    50% {
      width: 6vw;
      height: 6vw;
      box-shadow: 10px 10px 10px #cccccc,
                  10px 10px 10px #ffffff,
                  0 0 0 #cccccc inset,
                  0 0 0 #ffffff inset;
    }
    99% {
      width: 6vw;
      height: 6vw;
      box-shadow: 0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    }
    100% {
      display: none;
    }
  }


  .box-B.animated {
    width: 6vw;
    height: 6vw;
    margin: 0.5rem;
  }

  .box-B.unanimated {
    margin: 0.5rem;
    width: 6vw;
    height: 6vw;
  }
}
