.slide-swiper .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-container {
  font-family: "Montserrat", sans-serif;
  height: 600px;
  width: 100%;
  max-width: 655px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(270deg, #f7f9ff 0%, #f0f0f0 100%);
  box-shadow: 40px 40px 40px #cccccc,
              0 0 0 #ffffff,
              0 0 0 #cccccc inset,
              2px 2px 2px #ffffff inset;
  /*
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  */
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.slider-image-wrapper {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

a.slider-image {
  height: 100%;
  width: 100%;
}

.swiper-slide-active {
  z-index: 999;
  width: 100%;
}

.slider-image-wrapper {
  background-color: gray;
}

.slider-image-wrapper.cookies-project {
  background-color: #1F1C1C;
}

.slider-image-wrapper.fitness-project {
  background-color: #00062D;
}

.slider-image-wrapper.codecademy-goldmedal {
  background-color: #9CD1D6;
}

.slider-image-wrapper.codecademy-jammy {
  background-color: rgba(3, 14, 65, 1);
}

.slider-image-wrapper.codecademy-storeo {
  background-color: #C91717;
}

.slider-image-wrapper img {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 200px;
  margin: auto;
}

.slider-image-wrapper img#hoodcast-project,
.slider-image-wrapper img#codecademy-goldmedal,
.slider-image-wrapper img#codecademy-storeo {
  padding: 2rem;
}

.slider-image-wrapper img#fitness-project,
.slider-image-wrapper img#cookies-project {
  max-width: 300px;
}

.slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  background: linear-gradient(270deg, #f7f9ff 0%, #f0f0f0 100%);
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-item-content {
  padding: 1rem 2rem;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  margin-bottom: 1rem;
}

.slider-item-content > * {
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide-active .slider-item-content > * {
  transform: translateY(0px);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}

.slide-swiper h1.title-header {
  font-size: 4rem;
  align-self: flex-start;
  padding-left: 0;
}

.slide-swiper p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #889DB8;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.slide-swiper #slide-divider {
  border-bottom: 1px solid #889DB8;
  margin: 0 auto;
  width: 50%; 
}

.wrapper#slide-right-container {
  
}

.wrapper#slide-right-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.wrapper#slide-right-container ul li a {
  color: #3374FF;
  background-color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 0.3rem;
  border: 1px solid #3374FF;
  border-radius: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 350ms;
}

.wrapper#slide-right-container ul li a:hover {
  color: black;
  background-color: orange;
  border: 1px solid orange;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
  opacity: 0.7;
}

li#project-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
  float: center;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgba(255, 185, 0, 0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #FFB200;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  bottom: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 0.75rem;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #26384E;
  position: relative;
  margin-left: 4px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #3374FF;
}

.swiper-button-next:before,
.swiper-button-prev:before {
  content: "";
  position: absolute;
  background-color: #26384E;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
  width: 100%;
}

.socials {
  position: fixed;
  top: 12px;
  right: 1rem;
  float: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 15%;
  z-index: 3;
}

.socials .social-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  color: #26384E;
}

.socials img {
  width: 100%;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.85rem;
  z-index: 10;
}

@media only screen and (max-width: 1150px) {
  .slide-swiper {
    left: 20px;
  }

  .slide-swiper h1.title-header {
    top: 4rem;
    font-size: 3.25rem;
  }

  .swiper-container {
    margin-left: 5%;
  }

  .slide-swiper .slider-item-content h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .slider-item-content#slider-right {
    padding: 0;
  }
    
  .slide-swiper {
    align-items: flex-start;
    padding-right: 18%;
  }

  .slide-swiper h1.title-header {
    top: 4rem;
    font-size: 2.5rem;
  }

  .slide-swiper .container {
    align-items: flex-start;
    padding-right: 20%;
  }

  .swiper-container {
    width: 100%;
    max-width: 600px;
    box-shadow: 10px 10px 10px #cccccc,
                10px 10px 10px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }

  .swiper-wrapper {
    align-items: flex-start;
  }

  .slider-image-wrapper {
    height: 60%;
    width: 100%;
    overflow: hidden;
  }

  .slider-item-content {
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .slide-swiper .slider-item-content h1 {
    font-size: 1.2rem;
  }

  .socials {
    position: fixed;
    top: 1rem;
  }

  .swiper-button-next:hover:before,
  .swiper-button-prev:hover:before {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .socials img {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0.85rem;
  }
}

@media only screen and (max-width: 650px) {
  .slide-swiper .container {
    padding-right: 25%;
    height: 50%;
    max-height: 600px;
  }

  .socials img {
    padding: 1rem 1.5rem;
    padding-right: 2.5rem;
    min-width: 125px;
  }
    
  .socials .icon-popups {
    padding-right: 0.75rem;
  }
}

@media only screen and (max-width: 650px) {
  .slide-swiper h1.title-header {
    top: 4rem;
    font-size: 2.5rem;
  }

  .swiper-container {
    margin-left: 0;
    margin-top: 3rem;
    right: 1rem;
    height: 500px;
    width: 110%;
  }

  .slide-swiper .container {
    align-items: flex-start;
    height: 400px;
  }

  .slider-image-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .slider-item-content {
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
    
  .slide-swiper .slider-item-content h3 {
    font-size: 0.85rem;
  }

  .slide-swiper .slider-item-content p {
    font-size: 0.75rem;
  }

  .socials .icon-popups {
    padding-bottom: 8rem;
    padding-right: 1.5rem;
  }
    
  .wrapper .preview {
    height: 1rem;
    width: 1rem;
  }
    
  .wrapper#slide-right-container ul li a {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}


@media only screen and (max-width: 500px) {
  .slider-image-wrapper {
    max-height: 200px;
  }
    
  .slider-image-wrapper img {
    padding: 0 1rem;
    width: 50%;
    min-width: 200px;
  }
}

@media only screen and (min-height: 601px) {
  .socials .icon-popups {
    padding-bottom: 8rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-height: 600px) {
  .slide-swiper h1.title-header {
    top: 4rem;
    font-size: 2.5rem;
  }

  .swiper-container {
    max-height: 200px;
    height: 200px;
    width: 350px;
    left: 3rem;
  }

  .slide-swiper .container {
    align-items: center;
  }

  .slider-image-wrapper {
    width: 100%;
    height: 100%;
  }
    
  #slider-content-container {
    position: absolute;
  }
    
  #slider-right,
  #slider-left p,
  #slider-left #slide-divider {
    display: none;
  }

  .slider-item-content {
    align-items: center;
    flex-direction: row;
  }

  .slide-swiper .slider-item-content h1 {
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    line-height: 1rem;
    padding-right: 1rem;
    color: white;
  }

  .slide-swiper .slider-item-content p {
    font-size: 0.7rem;
    line-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .socials .icon-popups {
    padding-right: 0.75rem;
  }

  .socials img {
    padding-right: 2.5rem;
    min-width: 125px;
    width: 125px;
  }
}
